.contents.row
  = form_tag("/tweets/#{@tweet.id}", method: :patch ) do
    %h3
      編集する
    %input{:autofocus => "true", :name => "image", :placeholder => "Image Url", :type => "text", :value => "#{@tweet.image}"}/
    %textarea{:cols => "30", :name => "text", :placeholder => "text", :rows => "10"}= @tweet.text
    %input{:type => "submit", :value => "SENT"}/
